*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poopins",sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7fb;
}

.container{
    background: #fff;
    padding: 2rem 7rem;
    border-radius: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.result_images img{
    width: 100px;
}

.result_images{
    display: flex;
    column-gap: 7rem;
}

.container.start .user_result{
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
    50%{
        transform: rotate(10deg);
    }
}

.container.start .cpu_result{
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake {
    50%{
        transform: rotate(-10deg);
    }
}

.user_result img{
    transform: rotate(90deg);
}

.cpu_result img{
    transform: rotate(-90deg) rotateY(180deg);
}

.result{
    text-align: center;
    font-size: 2rem;
    color: #7d2ae8;
    margin-top: 1.5rem;
}

.option_image img{
    width: 50px;
}

.option_images{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.option_images:hover{
 opacity: 1;
}
.option_images{
    opacity: 1;
   }
.option_image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option_image img{
    pointer-events: none;

}

.option_image p{
    color: #7d2ae8;
    font-size: 1.235rem;
    margin-top: 1rem;
}

.option_images .rock{
    margin-top: 2rem;
}